.back-button{
    background-image: url('../assets/backicon.png');
    width:40px;
    height:40px;
    position:fixed;
    left:3vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    z-index: 2;
    top:2vh;
}
body{
    padding-top:7vh;
}