@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    min-height:100vh;
    min-width:100vw;
    margin:0;
    font-family:'Poppins';
    background-color: rgb(57, 57, 105);
}
h1,h2,h3,h4,h5{
    margin:0;
}