.battlefield{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width:100%;
    background-color:rgb(179, 179, 179);
    min-height:200px;
}
.frontRow{
    display:flex;
    flex-direction: row;
}
.creaturefield{
    display:flex;
    flex-direction: row;
    gap:5px;
}
.landfield{
    display:flex;
    flex-direction: row;
    gap:5px;
}
.artifactfield{
    display:flex;
    flex-direction: row;
    gap:5px;
}