<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Daily Journal</title>
    <link rel="stylesheet" href="page-index/index.css" />
  </head>
  <body>
      <section id="note-container">
        <h3 id="note-title">This is a note.</h3>
        <p id="note-text">
          This is a note with a lot of very very meaningful text that totally,
          100% matters for everyone that's reading.
        </p>
    </section>
    <script src="./note.js"></script>
  </body>
</html>